body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease, color 0.1s ease;
}
body div {
    transition: background-color 0.5s ease, color 0.1s ease;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

#total-display { grid-area: header; }
#shop { grid-area: menu; }
#build { grid-area: menu2; }
#clicker { grid-area: main; }
#model-display { grid-area: right; }
#notice { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'menu menu2 header right'
    'menu menu2 main right'
    'menu menu2 footer right';
    gap: 20px;
    padding: 10px;
}

.grid-container .grid-panel {
    text-align: center;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-areas:
            'menu header right'
            'menu main right'
            'menu footer right'
            'menu2 menu2 menu2';
    }
    .grid-container .grid-panel {
        padding: 10px 15px;
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-areas:
            'header right'
            'main right'
            'footer right'
            'menu menu2';
    }

    .grid-container .grid-panel {
        padding: 5px 5px;
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-areas:
            'header'
            'main'
            'right'
            'footer'
            'menu'
            'menu2';
        gap: 10px;
        padding: 5px;
    }

    .grid-container .grid-panel {
        padding: 5px 5px;
    }
}


button {
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#shop button {
    display: block;
    margin: 10px auto;
}

#model-display button {
    margin: 0px;
    padding: 0px 1px;
}

td {
    padding: 5px 10px;
}

.hastooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 3px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
}
.hastooltip:hover .tooltiptext {
    visibility: visible;
}
.hidden, .hidden * {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

/* 直观展示时间 */
.dawn-mode {
    background-color: rgb(130, 130, 130);
}
.dawn-mode .grid-container .grid-panel {
    background-color: rgb(190, 190, 190);
}
.dark-mode {
    background-color: rgb(20, 20, 20);
    color: white;
}
.dark-mode .grid-container .grid-panel {
    background-color: rgb(40, 40, 40);
    color: white;
}