body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s ease, color 0.1s ease;
}
body div {
    transition: background-color 0.5s ease, color 0.1s ease;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

#total-display { grid-area: header; }
#shop-title { grid-area: sh-title; }
#shop-left { grid-area: sh-left; }
#shop-right { grid-area: sh-right; }
#shop-footer { grid-area: sh-footer; }
#shop {
    grid-area: menu;
    display: grid;
    grid-template-areas: 
    'sh-title sh-title'
    'sh-left sh-right'
    'sh-footer sh-footer';
    gap: 10px;
}
#clicker { grid-area: main; }
#model-display { grid-area: right; }
#notice { grid-area: footer; }
#setting { grid-area: side; }

.grid-container {
    display: grid;
    grid-template-areas:
    'menu header right footer'
    'menu main right side';
    gap: 20px;
    padding: 10px;
}

.grid-container .grid-panel {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-areas:
            'menu header right'
            'menu main right'
            'menu side footer';
    }
    .grid-container .grid-panel {
        padding: 10px 15px;
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-areas:
            'header right'
            'main right'
            'footer right'
            'menu side'
            'menu side';
    }

    .grid-container .grid-panel {
        padding: 5px 5px;
    }
}

@media (max-width: 646px) {
    .grid-container {
        grid-template-areas:
            'header'
            'main'
            'right'
            'footer'
            'menu'
            'side';
        gap: 10px;
        padding: 5px;
    }

    .grid-container .grid-panel {
        padding: 5px 5px;
    }
}


button {
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#shop button {
    display: block;
    margin: 10px auto;
}

#model-display button {
    margin: 0px;
    padding: 0px 1px;
}

td {
    padding: 5px 10px;
    width: 60px;
}

.hastooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 3px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
}
.hastooltip:hover .tooltiptext {
    visibility: visible;
}
.hidden, .hidden * {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

/* 直观展示时间 */
.dawn-mode {
    background-color: rgb(130, 130, 130);
}
.dawn-mode .grid-container .grid-panel {
    background-color: rgb(190, 190, 190);
}
.dark-mode {
    background-color: rgb(20, 20, 20);
    color: white;
}
.dark-mode .grid-container .grid-panel {
    background-color: rgb(40, 40, 40);
    color: white;
}

/* .pause-mode {
    background-color: rgb(139,69,19);
}
.pause-mode .grid-container .grid-panel {
    background-color: rgb(244,164,96);
} */

.goal-mode {
    background-color: #B22234;
    background: repeating-linear-gradient(
        0deg,           /* 条纹角度 */
        #B22234,         /* 第一个颜色 */
        #B22234 40px,    /* 第一个颜色的条纹宽度 */
        #f0f0f0 40px,    /* 第二个颜色开始的位置 */
        #f0f0f0 80px     /* 第二个颜色的条纹宽度 */
    );
    color: white;
}
.goal-mode .grid-container .grid-panel {
    background-color: #3C3B6E;
    color: white;
}